:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav{
  background-color: rgba(0, 0, 0, 0.945);
  position:sticky;
  top: 0px;
}
.items{
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: white;
  font-size: 12px;
  list-style: none;
  padding:10px 400px 10px 400px;
}

.cont{
  width: 100%;
}